.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mediaIcons {
    opacity: 0.6;
    cursor: pointer;
}